.project1-heading,
.project2-heading {
  text-align: center;
  padding: 4rem;
  color: black;
}

.project1-container,
.project2-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Center text vertically */
    align-items: center; /* Center text horizontally */
    text-align: center;
    height: 100%; /* Make the container take the full height */
    justify-content: center; /* Vertically center children */
  }
  
  

.project1-card,
.project2-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.project1-card img,
.project2-card img{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Adjust the spacing between image and text */
}


.project1 .pro-paragraph p,
.project2 .pro-paragraph p {
  color: black;
  text-align: center; 
  justify-content: center;
}